* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 400px;
  height: 500px;
  padding: 30px;
  gap: 40px;
}

.display {
  border: 1px solid black;
  height: 100px;
}

.buttons {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 30px;
}

.buttons div {
  flex-grow: 1;
  display: flex;
  gap: 30px;
}

.buttons button {
  border: 1px solid black;
  background-color: #ffffff;
  flex-grow: 1;
  width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}