.container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  gap: 20px;
  padding: 20px;
  width: 150px;
  height: auto;
  flex-wrap: wrap;
}

.display {
  border: 2px solid black;
  height: 30px;
  text-align: right;
  padding: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  display: inline-block;
  padding: 5px;
  width: 40px;
  background-color: #ffffff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}